@import url(global.css);
@import url(header.css);
@import url(hero-section.css);
@import url(solution-section.css);
@import url(audience-section.css);
@import url(phone-strip-section.css);
@import url(features-section.css);
@import url(cta-section.css);
@import url(footer.css);
@import url(responsiveness.css);
@import url(modal.css);
@import url(alert.css);
@import url("gallery.css");
@import url("teams.css");
@import url("simulator.css");

.landing-page {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background-color: var(--color-black);
}