/* Phone Strip */
.phone-strip {
    background-color: var(--color-bg-overlay);
    padding: var(--spacing-22) var(--spacing-80) var(--spacing-32) var(--spacing-80);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-14);
  }
  
  .phone-strip__title {
    font-size: var(--font-size-2xl);
    color: var(--color-gray-50);
    text-align: center;
  }
  
  .phone-strip__description {
    font-size: var(--font-size-lg);
    color: var(--color-gray-400);
    text-align: center;
    max-width: 900px;
  }
  
  .phone-grid {
    display: flex;
    justify-content: center;
    gap: var(--spacing-12);
    flex-wrap: wrap;
  }
  
  .phone-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 9.25rem;
    height: 20rem;
    background-color: var(--color-bg-surface);
    border: 2px solid var(--color-border-light);
    border-radius: var(--radius-lg);
    gap: var(--spacing-6);
  }
  
  .phone-card .phone-card__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--radius-lg);
  }
  